<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.stockx.com/360/adidas-Busenitz-Pro-Black-White-Gum/Images/adidas-Busenitz-Pro-Black-White-Gum/Lv2/img01.jpg?fm=avif&auto=compress&w=576&dpr=2&updated_at=1666250759&h=384&q=60"
                class="d-block" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.skatedeluxe.com/thumb/SZ0b24Vrzqwm8W0FdS8IikH5yNs=/0x0/filters:brightness(-4)/product3d/160515/160515_adidas_SkateboardingBusenitz_1.jpg"
                class="d-block" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.stockx.com/360/adidas-Busenitz-Pro-Black-White-Gum/Images/adidas-Busenitz-Pro-Black-White-Gum/Lv2/img01.jpg?fm=avif&auto=compress&w=576&dpr=2&updated_at=1666250759&h=384&q=60"
                class="d-block" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>