<div class="filter--brands">
    <a data-bs-toggle="collapse" href="#filter--brands" role="button" aria-expanded="true"
        aria-controls="filter--brands">
        brands
    </a>
    <ul class="collapse show" id="filter--brands">
        <!-- <li *ngFor="let brand of brands"> <a href="">{{brand}} <span>20</span></a></li> -->
        <li *ngFor="let brand of brands"> <app-check-list (selectedBrand)="getBrand($event)" [brand]="brand"></app-check-list> </li>
    </ul>
</div>

<div class="filter--colors">
    <a data-bs-toggle="collapse" href="#filter--colors" role="button" aria-expanded="true"
        aria-controls="filter--brand">
        colors
    </a>
    <ul class="collapse show" id="filter--colors">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>



<div class="filter--size">
    <a data-bs-toggle="collapse" href="#filter--size" role="button" aria-expanded="true" aria-controls="filter--brand">
        size
    </a>
    <ul class="collapse show" id="filter--size">
        <li>4.5</li>
        <li>5</li>
        <li>5.5</li>
        <li>6</li>
        <li>6.5</li>
        <li>7</li>
        <li>7.5</li>
        <li>8</li>
        <li>8.5</li>
    </ul>
</div>