<div class="wrapp">
    <section class="product" *ngIf="product$ | async as product else noProduct">
        <div class="product-gallery">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button *ngFor="let img of product.image;let i = index" [class.active]="i===0" type="button"
                        data-bs-target="#carouselIndicators" [attr.data-bs-slide-to]="i" aria-current="true"
                        [attr.aria-label]="'Slide '+(i+1) "></button>
                </div>
                <div class="carousel-inner">
                    <div *ngFor="let img of product.image;let i = index" [class.active]="i=== 0" class="carousel-item">
                        <img [src]="img" class="d-block" [alt]="product.title">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="product__info">
            <div class="product__category"> {{ product.category }} </div>
            <h1 class="product__title"> {{ product.title }} </h1>
            <!-- <div class="product__size">xs s m l xl 2xl</div> -->
            <!-- <div class="product__quantity">quantity 1</div> -->
            <div class="product__review">
                <div class="product__review__rating">
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                </div>
                <span> {{ product.rating.rate }} </span>
                <a class="product__review__see">
                    see Reviews
                    <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                </a>
            </div>
            <ul class="product__color">
                <li class="product__color--yellow"> <span></span> </li>
                <li class="product__color--red"> <span></span> </li>
                <li class="product__color--green"> <span></span> </li>
            </ul>
            <div class="product__price"><span>$</span> {{ product.price }} </div>
            <div class="product__actions">
                <div (click)="addCart()" class="btn add__cart"><fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon> add to cart</div>
                <app-wish-button></app-wish-button>
            </div>
            <div class="product__description"> {{ product.description }} </div>
        </div>
    </section>
    <ng-template #noProduct>
        this product not available
    </ng-template>
    <section class="suggestion mt-5">
        <app-suggestions></app-suggestions>
    </section>

</div>