<div class="wrapp">
    <section class="product">
        <div class="product-gallery">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.volcom.de/cdn/shop/products/A1732307_BLK_2.jpg?v=1686559734"
                            class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.volcom.de/cdn/shop/products/A1732307_BLK_4.jpg?v=1686559734"
                            class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.volcom.de/cdn/shop/products/A1732307_BLK_5.jpg?v=1686559734"
                            class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.volcom.de/cdn/shop/products/A1732307_BLK_1.jpg?v=1686559734"
                            class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.volcom.de/cdn/shop/products/A1732307_BLK_11.jpg?v=1686559734"
                            class="d-block" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="product-info">
            <h1 class="product-title">product title</h1>
            <div class="product-price">$41.00</div>
            <div class="product-description">product description product description product description vproduct
                description product description</div>
            <div class="product-option">
                <div class="product-color">black</div>
                <div class="product-type">men's</div>
                <div class="product-size">xs s m l xl 2xl</div>
                <div class="product-quantity">quantity 1</div>
                <div class="btn">add to cart</div>
            </div>
        </div>
    </section>
</div>