<div class="card mb-3" *ngIf="cartItem">
    <div class="card-img">
        <img [src]="cartItem.product.image[0]" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card-body">
        <p class="card-title"> {{cartItem.product.title}} </p>
        <p class="card-option">colors: black</p>
    </div>
    <div class="card-qty">
        <label for="qty">qty</label>
        <input type="number" name="qty" id="qty" (change)="onUpdateQty($event)" [value]="cartItem.quantity">
    </div>
    <div class="card-price">${{cartItem.product.price}} </div>
    <div class="card-action">
        <a (click)="onDeleteCartItem(cartItem)" class="btn-close text-reset"  href="javascript:void(0);" role="button">
        </a>
    </div>

</div>