<app-header [title]="'products'"></app-header>
<div class="layout">
    <app-filter [brands]="allBrands" (filters)="getFilters($event)" ></app-filter>
    <div class="products" *ngIf="products$ | async; else productsEmpty">
        <div class="products-sort">
            <app-dropdown [name]="'sort by'" [list]="['price','rated','newest']" (selectedValue)="onSortChange($event)" ></app-dropdown>
            <app-dropdown [name]="'view'" [list]="['grid','list']"></app-dropdown>
        </div>
        <div class="products-list">
            <app-product *ngFor="let product of (products$ | async)" [product]="product" ></app-product>
        </div>
        <app-pagination
        [currentPage]="currentPage"
        [totalPage]=" totalPage "
        (pageSelected)="onPageChange($event)"
        ></app-pagination>
    </div>
    <ng-template #productsEmpty>no products</ng-template>
    <div class="isLoading" *ngIf="(isLoading$ | async)"></div>
</div>