@import '../../../assets/styles/main.scss';

.products-sort {
    @include flex(space-between, center)
}

.layout {
    display: flex;
    align-items: stretch;

    .products {
        flex-grow: 3;
        display: flex;
        flex-direction: column;

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }

        &-empty{
            text-align: center;
        }
    }
    
}