@import '../../../assets/styles/main.scss';

.products-sort {
    @include flex(space-between, center)
}

.grid {
    display: flex;
    align-items: stretch;

    aside {
        flex-grow: 1;
        max-width: 250px;
        text-transform: capitalize;

        ul {
            padding: 0px;

            &::before {
                content: attr(aria-label);
                font-size: 120%;
                font-weight: bold;
                flex-basis: 100%;
                color: #4d5e80;
            }

            li {
                color: #7f90b3;
            }

            &.colors {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    flex-basis: calc(20% - 10px);
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    background-color: slategray;
                    cursor: pointer;
                }
            }
        }
    }

    .products-list {
        flex-grow: 3;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

}