<h1 class="title">New arrivals</h1>
<div class="products-sort">
    <div>sort by</div>
    <div>view</div>
</div>
<div class="grid">
    <div class="products-filter">
        <h4>filter by</h4>
        <ul>
            <li class="title">brand +</li>
            <li>volcom</li>
            <li>adidas</li>
            <li>vans</li>
        </ul>
        <ul>
            <li class="title">brand +</li>
            <li>volcom</li>
            <li>adidas</li>
            <li>vans</li>
        </ul>

    </div>
    <div class="products-list">
        <app-product></app-product>
    </div>
</div>