<footer>
    <div class="col">
        <div class="logo">logo</div>
        <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since.
        </p>
    </div>
    <div class="col">
        <h6 class="title">company</h6>
        <ul>
            <li><a href="">terms & conditions</a></li>
            <li><a href="">privacy policy</a></li>
            <li><a href="">project protection</a></li>
            <li><a href="">faqs</a></li>
        </ul>
    </div>
    <div class="col">
        <h6 class="title">about</h6>
        <ul>
            <li><a href="">team</a></li>
            <li><a href="">blog</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">store</a></li>
        </ul>
    </div>
    <div class="col">
        <h6 class="title">sign up to our newsletter</h6>
        <div class="subscribe">
            <input type="text" class="subscribe__input">
            <button class="subscribe__button">subscribe</button>
        </div>
        <ul class="social-media">
            <li><a href="facebook"></a></li>
            <li><a href="twitter"></a></li>
            <li><a href="linkedin"></a></li>
            <li><a href="google+"></a></li>
        </ul>
    </div>
</footer>