<div class="offcanvas offcanvas-end w-40" tabindex="-1" id="collapseCart" data-bs-keyboard="false"
    data-bs-backdrop="true">
    <div class="offcanvas-header">
        <a class="btn-close text-reset" data-bs-toggle="offcanvas" href="#collapseCart" role="button"
            aria-expanded="false" aria-controls="collapseCart" data-bs-target="#collapseCart">
        </a>

        <h6 class="offcanvas-title d-none d-sm-block" id="collapseCart">your cart:</h6>

    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column align-items-stretch mb-sm-auto mb-0 align-items-start" id="menu">

            <li>
                <app-cart-item></app-cart-item>
            </li>
            <!-- <li>
                <a href="#" class="nav-link text-truncate">
                    <app-cart-item></app-cart-item>
                </a>
            </li> -->

        </ul>
    </div>
</div>

<!-- <div class="collapse " id="collapseCart">
    <div class="cart">
        <a data-bs-toggle="collapse" href="#collapseCart" role="button" aria-expanded="false"
            aria-controls="collapseCart">X</a>
        <h3 class="cart__title">your cart</h3>
        <ul>
            <li class="cart__item">
                <div class="cart__item__img">
                    <img src="https://www.volcom.de/cdn/shop/products/A4632309_WNE_F_a46eb9c2-ecfc-4f3c-973a-15b02f580129_1188x1584_crop_center.jpg?v=1697182578"
                        alt="">
                </div>
                <div class="cart__info">
                    <div class="cart__info__title">title</div>
                    <div class="cart__info__options">color: black</div>
                </div>
                <div class="cart__quantity">
                    <span>qty</span><input type="number" name="" id="">
                </div>
                <div class="cart__price">$29</div>
                <div class="cart__delete">X</div>
            </li>
        </ul>
    </div>
</div> -->