<div class="offcanvas offcanvas-end w-40" tabindex="-1" id="collapseCart" data-bs-keyboard="false"
    data-bs-backdrop="true">
    <div class="offcanvas-header">
        <a class="btn-close text-reset" data-bs-toggle="offcanvas" href="#collapseCart" role="button"
            aria-expanded="false" aria-controls="collapseCart" data-bs-target="#collapseCart">
        </a>

        <h6 class="offcanvas-title d-none d-sm-block" id="collapseCart">your cart:</h6>

    </div>
    <div class="offcanvas-body px-0">
        <ng-container *ngIf="cart$ | async as cartItems">
            <ul class="nav nav-pills flex-column align-items-stretch mb-sm-auto mb-0 align-items-start" id="menu">
                <ng-container *ngIf="cartItems.length>0 else emptyCart">
                    <li *ngFor="let cartItem of cartItems">
                        <app-cart-item [cartItem]="cartItem"></app-cart-item>
                    </li>
                </ng-container>
                <li *ngIf="isLoading$ | async">is loading</li>
                <ng-template #emptyCart>
                    <li>you cart is empty</li>
                </ng-template>
            </ul>
        </ng-container>

    </div>
</div>